<h1> Import a recipe from LetsCookFrench </h1>
<h3> What is the key ingredient in your recipe? </h3>

<form method="post" action="/import/choose">
  <br/>
  <h5> Key Ingredient: </h5>
  <input name='key_ingredient' type="text">
  <br/>
  <br/>
  <input type="submit">
</form>
