<h1>Add your new favourite recipe to your cookbook!</h1>

<form method="post" action="/recipes">
  <p> Recipe Name:</p>
  <input name='name' type="text">
  <p> Recipe Ingredients (seperated by -'s): </p>
  <input name='ingredients' type="text">
  <p> Recipe Method (a paragraph on how it is made): </p>
  <input name='method' type="text">
  <p> Prep Time: </p>
  <input name='prep_time' type="text">
  <p> Difficulty: </p>
  <input name='difficulty' type="text">
  <br/>
  <br/>
  <input type="submit">
</form>
